<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs your location to function properly.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app uses your location to provide enhanced functionality.</string>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiZWxpamFocmVubmVyIiwiYSI6ImNtMHg0NXd0djA4cWwybW9lNTUzbW9vdmoifQ.3dPAFQ0LmPFQnMByMyWzRA</string>
</dict>
</plist>
